 <!-- Educacion -->

 <section id="educacion" class="about">
  <div id="modulo" class="container">
    <div class="row ">
      <div class="text-center col-sm-3 col-md-4 col-lg-2" id="edu">
        <div>
          <h2 class="subtitulos" >Educacion</h2>
        </div>
      </div>
      <div class=" col-sm-9 col-md-8 col-lg-8">
        <div class="card" >
          <div class="row ">
            <div class="col-3">
              <img src="../../../assets/toolbox.png" class="img-fluid rounded-start" alt="">
            </div>
            <div class="col-9">
              <div class="card-body">
                <h5 class="card-title">Tecnico en instalaciones electromecanicas</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="card" >
          <div class="row ">
            <div class="col-3">
              <img src="../../../assets/libro-de-lectura.png" class="img-fluid rounded-start" alt="">
            </div>
            <div class="col-9">
              <div class="card-body">
                <h5 class="card-title">Estudiante de Ingenieria en la industria Automotriz</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
<!--Columna de edicion-->
    </div>
  </div>
</section>
