 <!-- Educacion -->

 <section id="educacion" class="about">

    
    <div id="modulo" class="container">
       <div class="row items">
         <div class="col-2 text-center">
           <div class="cardd"> 
             <h2 class="subtitulos" >Educacion</h2>
       </div>
         </div>
         <div class="col-8">
           <div class="card " >
             <div class="row ">
                 <div class="col-2">
                 <img src="../../../assets/toolbox.png" class="img-fluid rounded-start" alt="">
                </div>
               <div class="col-10">
                 <div class="card-body">
                   <h5 class="card-title">Tecnico en instalaciones electromecanicas</h5>
                   <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                   <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                 </div>
               </div>
             </div>
           </div>
           <div class="card" >
             <div class="row ">
               <div class="col-2">
                 <img src="../../../assets/libro-de-lectura.png" class="img-fluid rounded-start" alt="">
               </div>
               <div class="col-10">
                 <div class="card-body">
                   <h5 class="card-title">Estudiante de Ingenieria en la industria Automotriz</h5>
                   <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                   <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                 </div>
               </div>
             </div>
           </div>
         </div>
         <!--Columna de edicion-->
         
       </div>
       </div>
       
     </section>
