<!-- modal de edicion --> 
<div class="modal fade" id="infoedit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Editar sobre mi</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Mensaje -->
            <div class="modal-body">
                <label for="exampleFormControlTextarea1" class="form-label">Informacion sobre mi:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          
           <!-- BOTONES DE CONFIRMACION -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver atrás</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" routerLink="/dashboard">Guardar cambios</button> 
      </div>
    </div>
  </div>
