 <!-- Educacion -->
      <!---->
 <section id="educacion" class="about">
      
          
    <div class="container ">
       <div class="row items">
         <div class="col-2 text-center">
           <div class="cardd"> 
             <h2 class="subtitulos" >Educacion</h2>
       </div>
         </div>
         <div class="col-8">
           <div class="card " >
             <div class="row ">
                 <div class="col-2">
                 <img src="../../../assets/toolbox.png" class="img-fluid rounded-start" alt="">
                </div>
               <div class="col-10">
                 <div class="card-body">
                   <div class="row ">
                       <div class="col-11"> 
                           <h5 class="card-title">TECNICO EN EQUIPOS E INSTALACIONES ELECTROMECANICAS</h5>
                    </div>
                    <div class="col-1">
                       <i class="fa-sharp fa-solid fa-trash" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                       <i class="fa-sharp fa-solid fa-pen" type="button" data-bs-toggle="modal" data-bs-target="#educ1edit"></i>
                       <!-- Modal -->
                     <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                         <div class="modal-dialog">
                          <div class="modal-content">
                           <div class="modal-header">
                             <h1 class="modal-title fs-5" id="exampleModalLabel">¿Estas seguro?</h1>
                             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                           </div>
                           <div class="modal-body">
                            <p>Una vez confirmado se eliminara la informacion seleccionada.</p>
                           </div>
                           <div class="modal-footer">
                             <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                             <button type="button" class="btn btn-primary">Confirmar</button>
                           </div>
                          </div>
                         </div>
                        </div>
                     </div>
                    </div>
                  
                   <p class="card-text">COLEGIO PROVINCIAL DE EDUCACION TECNOLOGICA (C.P.E.T)</p>
                   <p class="card-text"><small class="text-muted">Finzalizado en 2017</small></p>
                 </div>
               </div>
             </div>
           </div>
           <div class="card" >
             <div class="row ">
               <div class="col-2">
                 <img src="../../../assets/libro-de-lectura.png" class="img-fluid rounded-start" alt="">
               </div>
               <div class="col-10">
                 <div class="card-body">
                   <div class="row ">
                       <div class="col-11"> 
                           <h5 class="card-title">INGENIERIA EN INDUSTRIA AUTOMOTRIZ (CURSANDO)</h5>
                    </div>
                    <div class="col-1">
                       <i class="fa-sharp fa-solid fa-trash" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                       <i class="fa-sharp fa-solid fa-pen" type="button" data-bs-toggle="modal" data-bs-target="#educ2edit"></i>
                       <!-- Modal -->
                     <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                         <div class="modal-dialog">
                          <div class="modal-content">
                           <div class="modal-header">
                             <h1 class="modal-title fs-5" id="exampleModalLabel">¿Estas seguro?</h1>
                             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                           </div>
                           <div class="modal-body">
                            <p>Una vez confirmado se eliminara la informacion seleccionada.</p>
                           </div>
                           <div class="modal-footer">
                             <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                             <button type="button" class="btn btn-primary">Confirmar</button>
                           </div>
                          </div>
                         </div>
                        </div>
                     </div>
                    </div>
                   
                   <p class="card-text"> UTN FRGP (FACULTAD REGIONAL GENERAL PACHECO). </p>
                   <p class="card-text"><small class="text-muted">Inicio: 2018 - Año de cursado: 4to Año - Fecha prevista de egreso: 2025.</small></p>
                 </div>
               </div>
             </div>
           </div>
         </div>
         
         <div class="col-2">
           <div class="d-grid gap-2 d-md-flex justify-content-md-start">
             <button class="btn btn-primary me-md-2" type="button"><i class="fa-sharp fa-solid fa-plus"></i></button>
             
           </div>
         </div>
       </div>
       </div>
       
    
     </section>

     
<!-- Modales -->
     <app-educ1edit></app-educ1edit>
     <app-educ2edit></app-educ2edit>
