
<section id="Skills" class="about">
    <div class="container ">
      <div class="row">
        <div class="col-2 text-center">
          <div class="cardd"> 
            <h2 class="subtitulos">Hard Skills & Soft Skills </h2>
      </div>
        </div>
        
        <div class="col-8">
            <!-- Trabajo en equipo -->
      <div class="container">
        <h4 class="subtitulos">Trabajo en equipo</h4>
        <div class="progress" role="progressbar" aria-label="Default striped example" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped" style="width: 85%">85%</div>
       </div>

    </div>
 
  <!-- Resolucion de problema -->
 <div class="container">
    <h4 class="subtitulos">Resolucion de problema </h4>
       <div class="progress" role="progressbar" aria-label="Default striped example" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
         <div class="progress-bar progress-bar-striped" style="width: 75%">75%</div>
        </div>
  </div>
</div>

      <!--Columna de edicion-->

  </div>     
</div>
  
    
  
  </section>
  
