<div id="aboutme" class="row d-flex justify-content-between">
    <div class="col-4">
      <div class="intro-message">
         <h1 class="subtitulos">Gonzalo Rodriguez</h1>
          <h5 class="subtitulos">Tecnico electromecanico</h5> 
          <h5 class="subtitulos"> <img src="../../../../assets/png-transparent-utn-hd-logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            Est. Ingenieria en la industria automotriz</h5>
            <button class="btn btn-primary me-md-2 "><i class="fa-sharp fa-solid fa-pen"></i></button>
      </div>
    </div>
       <div class="col-8 ">
        <div class="row">
            
           <h4>Sobre mi: Soy un estudiante de ingenieria, estimo egresarme en diciembre de 2025, como hobby me gusta ir a ver vehiculos y salir a caminar o tomar mates en algun lugar.</h4>
           <button class="btn btn-primary me-md-2 "><i class="fa-sharp fa-solid fa-pen"></i></button>
       </div>
   </div>
</div>
